#home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/abstract-background-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  * {
    font-family: "Playfair Display", sans-serif;
  }
  .text-container {
    height: 70vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    pointer-events: all;
    h2 {
      font-size: 3rem;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    h3 {
      font-size: 2rem;
    }
    a {
      padding-left: 10%;
    }
    button {
      padding: 5px 10px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      border: 1px black solid;
      transition: all 0.3s ease;
      &:hover {
        background: rgb(224, 224, 224);
        transition: all 0.3s ease;
      }
    }
  }
  img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}


@media screen and (max-width: 500px){
  #home{
    img{
      height: 500px;
    }
  }
}

@media screen and (max-width: 350px){
  #home{
    img{
      height: 400px;
    }
  }
}