#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 10vh;
  background-image: url(../img/abstract-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Quicksand", sans-serif;
  .titles {
    height: 10vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    * {
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
    .small-title {
      color: grey;
      font-size: 12px;
    }
    .title {
      font-family: "Playfair Display", sans-serif;
    }
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .row {
      .card {
        margin: 10px;
        box-shadow: rgb(226, 226, 226) 5px 5px 5px;
        max-width: 80%;
      }
    }
  }
}
